<h1 mat-dialog-title class="!text-center !font-semibold !text-md">Сброс пароля</h1>
<form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
  <div>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email"
             matInput
             [formControlName]="'email'"
             [readonly]="isSubmitting$ | async"
             [required]="true"/>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        поле обязательно к заполнению.
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('email')">
        поле не соответствует формату электронной почты.
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Пароль</mat-label>
      <input autocomplete="current-password"
             type="password"
             matInput
             [formControlName]="'password'"
             [readonly]="isSubmitting$ | async"
             [required]="true"/>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        поле "Пароль" обязательно к заполнению.
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minLength')">
        минимальная длина пароля: {{ passwordMinLength }} символов.
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Подтверждение пароля</mat-label>
      <input autocomplete="current-password"
             type="password"
             matInput
             [formControlName]="'password_confirmation'"
             [readonly]="isSubmitting$ | async"
             [required]="true"/>
      <mat-error *ngIf="passwordConfirmationFormControl.hasError('required')">
        поле "Подтверждение пароля" обязательно к заполнению.
      </mat-error>
    </mat-form-field>
  </div>
  <button type="submit">Изменить пароль</button>
</form>
