<h1 mat-dialog-title class="!text-center !font-semibold !text-md">Сброс пароля</h1>
<div class="!pb-0" mat-dialog-content>
  <form [formGroup]="forgotPasswordForm">
    <div>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email"
               matInput
               [formControlName]="'email'"
               [readonly]="isSubmitting$ | async"
               [required]="true"/>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          поле "Email" обязательно к заполнению.
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('email')">
          поле "Email" не соответствует формату электронной почты.
        </mat-error>
      </mat-form-field>
    </div>
    <button type="submit">Отправить ссылку для сброса пароля</button>
  </form>
</div>
