<h1 mat-dialog-title class="!text-center !font-semibold !text-md">Зарегистрироваться</h1>
<div class="!pb-0" mat-dialog-content>
  <form [formGroup]="registerForm">
    <div>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Логин</mat-label>
        <input type="text"
               matInput
               [formControlName]="'name'"
               [readonly]="isSubmitting$ | async"
               [required]="true"/>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          поле "Логин" обязательно к заполнению.
        </mat-error>
        <mat-error *ngIf="nameFormControl.hasError('minLength')">
          минимальная длина поля: {{ passwordMinLength }} символов.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email"
               matInput
               [formControlName]="'email'"
               [readonly]="isSubmitting$ | async"
               [required]="true"/>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          поле обязательно к заполнению.
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('email')">
          поле не соответствует формату электронной почты.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Пароль</mat-label>
        <input autocomplete="current-password"
               type="password"
               matInput
               [formControlName]="'password'"
               [readonly]="isSubmitting$ | async"
               [required]="true"/>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          поле "Пароль" обязательно к заполнению.
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('minLength')">
          минимальная длина пароля: {{ passwordMinLength }} символов.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Подтверждение пароля</mat-label>
        <input autocomplete="current-password"
               type="password"
               matInput
               [formControlName]="'password_confirmation'"
               [readonly]="isSubmitting$ | async"
               [required]="true"/>
        <mat-error *ngIf="passwordConfirmationFormControl.hasError('required')">
          поле "Подтверждение пароля" обязательно к заполнению.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <div class="justify-between flex w-full p-4 !pt-0">
    <button class="px-4 py-2"
            aria-label="Cancel Button"
            matRipple
            [mat-dialog-close]="null">Закрыть
    </button>
    <button
      class="px-4 py-2 !cursor-pointer shadow-sm rounded-sm bg-blue-900 text-white hover:text-blue-900 hover:bg-white"
      aria-label="Кнопка Войти"
      matRipple
      [disabled]="!registerForm.valid || (isSubmitting$ | async)"
      (click)="submit()">
      Зарегистрироваться
    </button>
  </div>
</div>
