<div class="">
  Thanks for signing up! Before getting started, could you
  verify your email address by clicking on the link we just
  emailed to you? If you didn't receive the email, we will
  gladly send you another.
</div>

<div *ngIf="verificationEmailSended$ | async">
  A new verification link has been sent to the email
  address you provided during registration.
</div>
<div>
  <button mat-button color="primary" (click)="resendVerificationEmail()">Отправить письмо с подтверждением заново
  </button>
  <button mat-button (click)="logout()">Выйти</button>
</div>
